services:
  darthvader:
    build: dnsserver
    hostname: darthvader
    ports:
      - 127.0.0.1:53:53    #So na rede principal
    volumes:
      - ./darthvader/named.conf.options:/etc/bind/named.conf.options
      - ./darthvader/named.conf.local:/etc/bind/named.conf.local
      - ./darthvader/db.starwars.lan:/etc/bind/db.starwars.lan
      - ./darthvader/db.20.168.192:/etc/bind/db.20.168.192
      - ./darthvader/bind:/var/log/bind
    networks:
      rededns:
        ipv4_address: 192.168.20.10
  darthsidious:
    build: dnsserver
    hostname: darthsidious
    depends_on:
    - darthvader #Para iniciar o servidor primário antes do secundário
    volumes:
    - ./darthsidious/named.conf.options:/etc/bind/named.conf.options
    - ./darthsidious/named.conf.local:/etc/bind/named.conf.local
    networks:
      rededns:
        ipv4_address: 192.168.20.11
  leia:
    build: dnsserver
    hostname: leia
    volumes:
      - ./leia/named.conf.options:/etc/bind/named.conf.options
      - ./leia/named.conf.local:/etc/bind/named.conf.local
      - ./leia/db.imperio.starwars.lan:/etc/bind/db.imperio.starwars.lan
    networks:
      rededns:
        ipv4_address: 192.168.20.69
  cliente:
    build: cliente
    hostname: cliente
    volumes:
      - ./cliente/chave.key:/etc/chave.key
    networks:
      rededns:
        ipv4_address: 192.168.20.100
    dns: 192.168.20.10
networks:
  rededns:
    ipam:
      config:
        - subnet: 192.168.20.0/24